body {
	background-color: #FFFFFF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-align: left;
}

div.h3 {
	background-color: transparent;
	background-image: url(/webman/modules/ControlPanel/images/cp_split.png);
	background-position: 50% 50%;
	background-repeat: repeat-x;
	border-bottom-color: black;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: black;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: black;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: black;
	border-top-style: none;
	border-top-width: 0px;
	cursor: default;
	font-size: 11px;
	height: 12px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 30px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	top: auto;
}

h3 {
	background-color: #FFFFFF;
	border-bottom-color: #3C3C3C;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: #3C3C3C;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #3C3C3C;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #3C3C3C;
	border-top-style: none;
	border-top-width: 0px;
	color: #3C3C3C;
	font-size: 12px;
	height: 18px;
	line-height: normal;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	width: auto;
}